@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

li {
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */

.header {
    width: 100%;
    height: 110px;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    z-index: 100;
}

.bars {
    width: 100px;
    cursor: pointer;
}

.top_menu{
    width: 200px;
    justify-content: space-between;
    display: flex;
    align-items: center;    
    padding-right: 50px;   
    gap: 30px;
}

.gnb{
    display: flex;
    width: 100%;
    font-weight: bold;
}

.gnb ul {
    display: flex;
    gap: 50px;
}

.nav {
    width: 500px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -500px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    transition: all 0.3s;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.nav li {
    padding: 0 70px;
}
  
.nav li a {
display: block;
font-size: 18px;
padding: 20px 18px;
border-bottom: 1px solid #ddd;
color: #666;
}

.nav .bars {
    position: absolute;
    top: 50px;
    left: 100px;
}


/* main */

.slide {
    /* position: relative; */
    margin: 0 auto;
    height: 700px;
    background-image: url('../images/1.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}


.slide p {
    font-family: 'Courgette', cursive;
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 330px;
    left: 730px;
}

.accordion {
    width: 1920px;
    margin: 0 auto;
}

.text_box {
    margin: 0 50px;

}

.text_box:nth-child(1) {
    background-color: burlywood;
}
.text_box:nth-child(2) {
    background-color: lightgreen;
}
.text_box:nth-child(3) {
    background-color: lightsteelblue;
}


h3 {
    /* background-color: greenyellow; */
    padding: 12px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
}

h3::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 16px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
    transition: transform 0.2s;
}

h3.active::after {
    transform: rotate(45deg);
    transition: transoform 0.2s;
}


.text_box section{
    background-color: #fff;
    display: none;
}

.text_box section .text{
    width: 1000px;
    margin: 0 auto;
}

